<!--<span class="cmd" data-type="action" data-subtype="other" data-cmd_id="#id#" style="columns: 1; margin-bottom: 2px;">

    <a href="#eqLink#" style="margin-top : 0px;border: 0px;border-radius : 0px;color:gray; background: none; color:white;" title='#name#'>#name#</a>
    <a class="btn btn-xs btn-default action fa #dashicon#" style="margin-top : 3px;border: none;border-radius : 0px;color:white;background-color: black"></a>

</span>-->
<button   class="cmd cmd_lgWebostv" data-type="action" data-subtype="other" data-cmd_id="#id#">#dashicon#</button>
